body {
	font-family: helvetica;
  font-size: 18px;
  line-height: 1.5;
}
h1 {
  font-size: 24px;
  font-weight: 700;
}
a {
  background-color: red;
  font-size: 20px;
}
a.hover {
  
}

header {
  padding: 0 0 0 0;
}
div {
  padding: 32px 32px 32px 32px;
}
div.header {

}
div.intro {
}
div.footer{
}
p {
  font-size: 20px
}
@media (max-width: 400px) {
  body {
    font-size: 100px;
  }
}