
h1 {
  font-size: 24px;
  font-weight: 700;
}

a {
  font-size: 20px;
  font-weight: 500;
} 

div {
  padding: 16px 32px 16px 32px;
  max-width: 640px;
}

div.header {

}
div.intro {
}

div.ps {
  font-size: 12px;
  color: #969696;
}
p {
  font-size: 20px;
  padding: 0 0 0 0;
}

body {
  font-family: helvetica;
  font-size: 18px;
  line-height: 1.5;
}