body {
  padding: 20px 20px 20px 20px;
	font-family: helvetica;
  font-size: 18px;
  line-height: 1.5;
}
h1 {
  font-size: 24px;
  font-weight: 700;
}
a {
  text-decoration: underline;
}
a.hover{
  
}
header {
  padding: 0 0 0 0;
}
section {
  padding: 20px 0 0 0;
}
footer{
  padding: 20px 0 0 0;
}
